.top {
    width: 90%;
    margin: left;
    padding: 0 15px;
}
header {
    width: 90%;
    height: 10px;
    background-color: #0C0C0D;
    display: flex;  
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}